# E-Commerce project : Logistic Regression

In [1]:
import numpy as np
import pandas as pd

## Load the data via pandas library

In [2]:
df = pd.read_csv('ecommerce_data.csv')

In [3]:
df

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2
...,...,...,...,...,...,...
495,1,3,0.731594,0,0,2
496,0,0,6.368775,1,3,0
497,0,0,0.172853,1,3,0
498,1,0,0.209964,0,3,0
499,0,0,2.616882,1,3,0

## so here create a function that will get the data in form of csv from the folder and convert it to a numpy matrix sice it's easier to work with

In [ ]:
def get_data():
    # read the data from the the file system which is in form of csv and convert it to a dataframe
    df = pd.read_csv('ecommerce_data.csv')
    # convert that dataframe into a numpy matrix
    data = df.as_matrix()
    # split the data into x and y
    # x here is the input and y here is the output
    X = data[:, :-1] #every thing upto the last column and all the rows
    Y = data[:,-1] # only the the last column and all the rows
    
    # normalize the numerical columns
    # x1 = (x1 - mean of x1)/ standard diviation of x1
    X[:,1] = (X[:,1] - X[:,1].mean()) / X[:,1].std()
    # x2 = (x2 - mean of x2)/ standard diviation of x2
    X[:,2] = (X[:,2] - X[:,2].mean()) / X[:,2].std()
    
    # work on the categorical column
    # time of the day
    N,D = X.shape # get the shape of the original X
    # make a new X of shape N by D+3 because there are 4 different categorical values
    X2 = np.zero((N,D+3))
    X2[:,0:(D-1)] = X[:,0:(D-1)]
    
    #on-hot encoding for the other four columns
    for n in xrange(N):
        #get the time of day
        #remember this is either 0,1,2 or 3
        t = int(X[n,D-1])
        X2[n,t+D-1] = 1
    # another method of one hot encoding is to create a new matrix
    #create a new matrix
    Z = np.zeros((N,4)) # size N and 4 for the 4 columns
    Z[np.arrange(N), X[:,D-1].astype(np.int32)] = 1
    # X2[:,-4:] = Z
    assert(np.abs(X2[:,-4:]-Z).sum()<10e-10)
    return X2,Y